body {
    font-family: 'Niramit', sans-serif; 
    background-color: #dfb5b5;
}

header {
    width: 100%;
    height: 47px;
    position: fixed;
    background-color:#F6DADA;
    display: flex; 
   }
header div ul.logo {
    position: absolute;
    top: 4px;
    left: 33px;
}
    
header div ul.me_frame {
    position: absolute;
    top: 7px;
    left: 840px;
}

header div ul.explore_frame {
    position: absolute;
    top: 7px;
    left: 840px;
  
}
 
header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
    font-size: 20px;
    margin-right: 100px; }
header nav ul li a {
    display: inline-block;
}
header nav ul li.me a {
    color: white;
    position: absolute;
    top: 10px;
    left: 925px;}
header nav ul li.explore a {
    color:black;
    position: absolute;
    top: 10px;
    left: 988px;}

.profile-user {
    background-color: #ecc4c4;
    box-sizing: border-box;
    margin-top: 250px;
    margin-left: 200px;
    position: fixed;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: #ffffff ;
    width: 400px;
    height: 200px;
}
.profile-user ul{
    text-align: top;
    margin: -90px 0px 0px 70px;

}
.profile-user ul h3{
    font-size: 35px;
}
.profile-user ul p{
    font-size: 15px;
}
.profile-user img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
    margin-top: 30px; 
    margin-left: 15px;
     
}
.profile-user button{
    margin-left: 300px;
    background-color: rgb(193, 21, 21);
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.select-student{
    margin-top: 300px;
    margin-left: 450px;
}
.select-student img{
    width: 200px;
    height: 120px;
}

.select-teacher{
    margin-top: 300px;
    margin-left: 80px;
}
.select-teacher img{
    width: 200px;
    height: 120px;
}